<!DOCTYPE html>
<html>
<head>
    <title>¡Sorpresa auditiva! 🔊</title>
</head>
<body>
    <h1>envíaselo a ese amigo que tanto amas 😌</h1>

    <button onclick="playAudios()">Haz clic para escuchar 💖</button>

    <audio id="audio1">
        <source src="{{ url_for('static', filename='WhatsApp Audio 2025-08-11 at 10.35.11 PM.mpeg') }}" type="audio/mpeg">
        Tu navegador no soporta audio.
    </audio>

    <audio id="audio2">
        <source src="{{ url_for('static', filename='WhatsApp Audio 2025-08-11 at 10.35.06 PM.mpeg') }}" type="audio/mpeg">
        Tu navegador no soporta audio.
    </audio>

    <script>
        function playAudios() {
            document.getElementById('audio1').play();
            document.getElementById('audio2').play();
        }
    </script>
</body>
</html>
